/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
 background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: #E8FBFF;
  font-size: 25px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("https://surph.ru/images/news/088-5-prostih-shagov-k-tomu-chtobi-stat-luchshe-v-serfinge/02.jpg");
}
section.module.parallax-2 {
  background-image: url("https://images.indiegogo.com/file_attachments/832067/files/20140903143700-picture-18.jpg?1409780220");
}
section.module.parallax-3 {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/29/60/8a/29608ae4efed0a504397ac6e2cf9eb20.jpg");
}
section.module.parallax-4 {
  background-image: url("http://surfstronger.com/img/morgan/bs2.jpg");
}


@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 40px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 40px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 40px;
  }
}

